<footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-7 col-sm-4 offset-1">
                <h4>Kean University</h4>
                <address>
                  100 Morris Avenue<br>
                  Union, NJ 07083<br>
                  <i class="fa fa-phone"></i> : (908) 737 3700 <br>
                  <i class="fa fa-envelope"></i> : <a href="mailto:dac@kean.edu">dac@kean.edu</a>
               </address>
            </div>
            <div class="col-12 col-sm-7 align-self-center">
                <div class="text-center">
                    <a class="btn" href="http://instagram.com" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    <a class="btn" href="http://www.facebook.com/profile.php?id=" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a>
                    <a class="btn" href="http://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a class="btn" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    <a class="btn" href="http://youtube.com/" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                    <a class="btn" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto mt-2">
                <p>© 2020 School of Mathematical Sciences</p>
            </div>
       </div>
    </div>
</footer>