<app-nav-panel></app-nav-panel>

<app-header></app-header>

<div class="aboutus_container">
    <div class="row text-center">
        <div class="offset-2 col-8">
            <h2>
                <br>
                This may be a good place to introduce yourself and 
                your site or include some credits.
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container">
            <div class="d-flex justify-content-around mb-3">
                <div class="p-3 aboutus_links text-center"><a href="#">Academics</a></div>
                <div class="p-3 aboutus_links text-center"><a href="#">Analytics</a></div>
                <div class="p-3 aboutus_links text-center"><a href="#">Maps</a></div>
              </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr class="style12">
        </div>
    </div>
</div>
<br>

<div class="container covid_container">
    <div class="row covid-header justify-content-center">
        <h3>
            COVID-19 Related Work
        </h3>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <app-card-maps></app-card-maps>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr class="style12">
        </div>
    </div>
</div>
<br>


<div class="container news_container">
    <div class="row">
        <div class="col-12">
            <h1>
                News
            </h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="../../../assets/images/MW-IH135_nyc_me_20200526020825_ZG.jpg" 
                 alt="covid_image" 
                 id="ny_covid"
                 class="img-responsive"
                 width="300"
                 height="200">
        </div>
        <div class="col-12 col-lg-6 align-self-center">
            <h4>
                COVID-19’s Community Impact in images
            </h4>
        </div>
    </div>
</div>


<br>
<br>
<br>

<app-footer></app-footer>
