<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#" style="padding-left: 10px; padding-right: 10px;">
            <img src="../../../assets/images/kean_logo.png" class="img-fluid" height="50" width="150">
        </a>
        <!-- <span style="color: white;">
            School of Mathematical Sciences
        </span> -->
        <div class="collapse navbar-collapse justify-content-end" id="Navbar">
            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item active"><a class="nav-link" href="#"> Home </a></li>
                <li class="nav-item"><a class="nav-link" href="aboutus.html"> About Us </a></li>
                <li class="nav-item"><a class="nav-link"class="nav-link" href="contactus.html"> Contact Us </a></li>
            </ul>
        </div>
    </div>
</nav>
